<html>

<head>
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
</head>
<body>
    <form action="/revise" method="GET">
        <label for="team_name">Enter name: </label>
        <input id="essay" type="text" name="essay_field">
        <input type="submit" value="OK">
    </form>
</body>

</html>