<html>

<head>
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
</head>
<body>
    <div class = "ui main text container segment">
        <div class = "ui huge header">Text Enhancer</div>
        <form class = "ui form" action = "/revise" method = "POST">
            <div class = "field">
                <textarea name= "essay_field" required></textarea>
            </div>
            <input class = "ui green big basic button" type = "submit">
        </form>
    </div>

</body>

</html>